
html {
	height: 100%;
}
body {
	font-size: .9375rem;
	color: #1f1f1f;
	background-color: #f7f7f7;
	min-height: 100%;
	overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	
	margin-top: 0;
	font-weight: 500;
}

a:hover,
a:active,
a:focus {
	text-decoration: none;
	outline: none;
}
.form-control {
	border-color: #e3e3e3;
    box-shadow: none;
    font-size: 15px;
    height: 44px;
}
.form-control:focus {
	border-color: #ccc;
	box-shadow: none;
	outline: 0 none;
}
.form-control[disabled], fieldset[disabled] .form-control {
    cursor: not-allowed;
}
input,
button,
a {
	transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
}
input, input:focus,
button, button:focus {
	outline: none;
}
input[type="file"] {
	height: auto;
}
input[type=text],
input[type=password] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
textarea.form-control {
	resize: vertical;
}
.navbar-nav > li {
	float: left;
}


/*-----------------
	10. Content
-----------------------*/

.page-wrapper {
	left: 0;
	margin-left: 230px;
	padding-top: 60px;
	position: relative;
	transition: all 0.2s ease-in-out;
}
.page-wrapper > .content {
	padding: 30px;
}
.page-header {
	margin-bottom: 1.875rem;
}
.page-header .breadcrumb {
    background-color: transparent;
    color: #6c757d;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0;
    padding: 0;
}
.page-header .breadcrumb a {
	color: #333;
}
.card {
	border: 1px solid #ededed;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
	margin-bottom: 30px;
}
.card-title {
    color: #1f1f1f;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.card-header {
    background-color: #fff;
}
.card-footer {
    background-color: #fff;
}
.page-title {
    color: #1f1f1f;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 5px;
}
.page-sub-title {
	color: #565656;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 20px;
}
.add-btn {
    background-color: #00c5fb;
    border: 1px solid #00c5fb;
    border-radius: 50px;
    color: #fff;
    float: right;
    font-weight: 500;
    min-width: 140px;
}
.add-btn:hover,
.add-btn:focus,
.add-btn:active {
	background-color: #00b7ed;
	border: 1px solid #00b7ed;
    color: #fff;
}
.add-btn i {
	margin-right: 5px;
}
.cal-icon {
	position: relative;
	width: 100%;
}
.cal-icon:after {
	color: #979797;
	content: "\f073";
	display: block;
	font-family: "FontAwesome";
    font-size: 15px;
    margin: auto;
    position: absolute;
    right: 15px;
    top: 10px;
}
.form-focus .cal-icon:after {
	top: 15px;
}

/*-----------------
	12. Dashboard
-----------------------*/

.card-table .card-header {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	padding: 15px;
}
.card-table .card-body {
	padding: 0;
}
.card-table .card-footer {
	background-color: #fff;
	text-align: center;
}
.card-table .card-footer a {
	color: #333;
}
.card-title > a.btn {
	color: #fff;
}
.custom-table tr {
	background-color: #fff;
	box-shadow: 0 0 3px #e5e5e5;
}

.dash-widget-icon {
	background-color: rgba(0, 197, 251, 0.2);
	border-radius: 100%;
	color: #00c5fb;
	display: inline-block;
	float: left;
	font-size: 30px;
	height: 60px;
	line-height: 60px;
	margin-right: 10px;
	text-align: center;
	width: 60px;
}
.dash-widget-info {
	text-align: right;
}
.dash-widget-info > h3 {
	font-size: 30px;
	font-weight: 600;
}
.dash-widget-info > span {
	font-size: 16px;
}
.dash-statistics .stats-info {
	margin-bottom: 5px;
}
.dash-statistics .stats-info:last-child {
	margin-bottom: 0;
}
.dash-statistics .progress {
	height: 4px;
}



.form-header {
    text-align: center;
	margin-bottom: 30px;
}
.form-header h3 {
    color: #333;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
}
.form-header p {
    color: #929292;
    font-size: 15px;
    margin-bottom: 0;
}
.modal-btn > .row {
	margin-left: -8px;
	margin-right: -8px;
}
.modal-btn > .row > div {
	padding-left: 8px;
	padding-right: 8px;
}
.continue-btn {
    background-color: #fff;
    border: 1px solid #00c5fb;
    border-radius: 50px;
    color: #00c5fb;
    display: block;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
}
.continue-btn:hover,
.continue-btn:focus,
.continue-btn:active {
	background-color: #00c5fb;
	border: 1px solid #00c5fb;
	color: #fff;
}
.cancel-btn {
    background-color: #fff;
    border: 1px solid #00c5fb;
    border-radius: 50px;
    color: #00c5fb;
    display: block;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
}
.cancel-btn:hover,
.cancel-btn:focus,
.cancel-btn:active {
	background-color: #00c5fb;
	border: 1px solid #00c5fb;
	color: #fff;
}

/*-----------------
	18. Edit Profile
-----------------------*/

.profile-img-wrap {
	height: 120px;
	position: absolute;
	width: 120px;
	background: #fff;
	overflow: hidden;
}
.profile-basic {
	margin-left: 140px;
}
.profile-basic .cal-icon {
	width: 100%;
}
.profile-img-wrap img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
}
.fileupload.btn {
	position: absolute;
	right: 0;
	bottom: 0;
	background: rgba(33, 33, 33, 0.5);
	border-radius: 0;
	padding: 3px 10px;
	border: none;
}
.fileupload input.upload {
	cursor: pointer;
	filter: alpha(opacity=0);
	font-size: 20px;
	margin: 0;
	opacity: 0;
	padding: 0;
	position: absolute;
	right: -3px;
	top: -3px;
	padding: 5px;
}
.btn-text {
	color: #fff;
}
.submit-section {
	text-align: center;
	margin-top: 40px;
}
.submit-btn {
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    min-width: 200px;
    padding: 10px 20px;
}
.form-scroll {
    max-height: 400px;
    overflow-y: auto;
}
.profile-img-wrap.edit-img {
    border-radius: 50%;
    margin: 0 auto 30px;
    position: relative;
}
.profile-img-wrap.edit-img .fileupload.btn {
	left: 0;
}




/*-----------------
	20. Focus Label
-----------------------*/

.form-focus {
	height: 50px;
	position: relative;
}
.form-focus .focus-label {
	font-size: 16px;
	font-weight: 400;
	opacity: 0.4;
	pointer-events: none;
	position: absolute;
	-webkit-transform: translate3d(0, 22px, 0) scale(1);
	-ms-transform: translate3d(0, 22px, 0) scale(1);
	-o-transform: translate3d(0, 22px, 0) scale(1);
	transform: translate3d(0, 22px, 0) scale(1);
	transform-origin: left top;
	transition: 240ms;
	left: 12px;
	top: -8px;
	z-index: 1;
	color: #888;
	margin-bottom: 0;
}
.form-focus.focused .focus-label {
	opacity: 1;
	font-weight: 300;
	top: -14px;
	font-size: 12px;
	z-index: 1;
}
.form-focus .form-control:focus ~ .focus-label, 
.form-focus .form-control:-webkit-autofill ~ .focus-label {
	opacity: 1;
	font-weight: 300;
	top: -14px;
	font-size: 12px;
	z-index: 1;
}
.form-focus .form-control {
	height: 50px;
	padding: 21px 12px 6px;
}
.form-focus .form-control::-webkit-input-placeholder {
	color: transparent;
	transition: 240ms;
}
.form-focus .form-control:focus::-webkit-input-placeholder {
	transition: none;
}
.form-focus.focused .form-control::-webkit-input-placeholder {
	color: #bbb;
}
.form-focus.select-focus .focus-label {
	opacity: 1;
	font-weight: 300;
	top: -20px;
	font-size: 12px;
	z-index: 1;
}
.form-focus .select2-container .select2-selection--single {
	border: 1px solid #e3e3e3;
	height: 50px;
}
.form-focus .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 48px;
	right: 7px;
}
.form-focus .select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color: #ccc transparent transparent;
	border-style: solid;
	border-width: 6px 6px 0;
	height: 0;
	left: 50%;
	margin-left: -10px;
	margin-top: -2px;
	position: absolute;
	top: 50%;
	width: 0;
}
.form-focus .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-color: transparent transparent #ccc;
	border-width: 0 6px 6px;
}
.form-focus .select2-container .select2-selection--single .select2-selection__rendered {
	padding-right: 30px;
	padding-left: 12px;
	padding-top: 10px;
}
.form-focus .select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #676767;
	font-size: 14px;
	font-weight: normal;
	line-height: 38px;
}
.form-focus .select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #fc6075;
}

/*-----------------
	24. Profile
-----------------------*/

.profile-details {
	text-align: center;
}
.personal-info li .title {
	color: #4f4f4f;
	float: left;
	font-weight: 500;
	margin-right: 30px;
	width: 25%;
}
.personal-info li .text {
	color: #8e8e8e;
	display: block;
	overflow: hidden;
}
.personal-info li {
	margin-bottom: 10px;
}
.personal-info {
	list-style: none;
	margin-bottom: 0;
	padding: 0;
}
.profile-view {
	position: relative;
}
.profile-view .profile-img-wrap {
	height: 120px;
	width: 120px;
}
.profile-view .profile-img {
	width: 120px;
	height: 120px;
}
.profile-view .profile-img .avatar {
	font-size: 24px;
	height: 120px;
	line-height: 120px;
	margin: 0;
	width: 120px;
}
.profile-view .profile-basic {
    margin-left: 140px;
    padding-right: 50px;
}
.profile-view .pro-edit {
    position: absolute;
    right: 0;
    top: 0;
}
.edit-icon {
    background-color: #eee;
    border: 1px solid #e3e3e3;
    border-radius: 24px;
    color: #bbb;
    float: right;
    font-size: 12px;
    line-height: 24px;
    min-height: 26px;
    text-align: center;
    width: 26px;
}
.edit-icon:hover {
	background-color: #00c5fb;
	border-color: #00c5fb;
    color: #fff;
}
.delete-icon {
    color: #e30b0b;
    float: right;
    font-size: 18px;
}
.delete-icon:hover {
    color: #e30b0b;
}

.user-menu.nav > li > a .badge {
    color: #fff;
    font-weight: 700;
    position: absolute;
    right: 3px;
    top: 6px;
}
.user-menu.nav > li > a .badge {
	background-color: #7460ee;
}
.user-menu.nav > li > a > i {
	font-size: 20px;
	line-height: 60px;
}
.noti-details {
    color: #989c9e;
    margin-bottom: 0;
}
.noti-title {
	color: #333;
}
.noti-time {
    margin: 0;
}


.sidebar-overlay {
	display: none;
	position: fixed;
	z-index: 90;
	height: 100%;
	left: 0;
	top: 60px;
	width: 100%;
	z-index: 1040;
	background-color: rgba(0, 0, 0, 0.6);
}
.sidebar-overlay.opened {
	display: block;
}
.sidebar-menu.opened {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
	margin-left: 0;
}
html.menu-opened {
	overflow: hidden;
}
html.menu-opened body {
	overflow: hidden;
}



@-webkit-keyframes ripple {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
	}
	100% {
		-webkit-box-shadow: 0 0 0 50px rgba(0, 0, 0, 0);
	}
}
@keyframes ripple {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
	}
	100% {
		-moz-box-shadow: 0 0 0 50px rgba(0, 0, 0, 0);
		box-shadow: 0 0 0 50px rgba(0, 0, 0, 0);
	}
}

/*-----------------
	51. Error
-----------------------*/

.error-page {
    align-items: center;
    background-color: rgba(0, 197, 251, 0.2);
    color: #1f1f1f;
    display: flex;
}
.error-page .main-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.error-box {
    margin: 0 auto;
    max-width: 480px;
    padding: 40px 0;
    text-align: center;
    width: 100%;
}
.error-box h1 {
    color: #00c5fb;
    font-size: 10em;
}
.error-box p {
    margin-bottom: 30px;
}
.error-box .btn {
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    min-width: 200px;
    padding: 10px 20px;
}


/*-----------------
	56. Search
-----------------------*/

.main-search {
	margin-bottom: 20px;
}
.search-result {
	margin-bottom: 30px;
}
.search-result u {
	color: #00b7ed;
}
.search-result p {
	color: #777;
	margin-bottom: 0;
}
.search-lists .nav-tabs.nav-tabs-solid {
	background-color: #fff;
	border: 1px solid #e3e3e3;
}
.top-nav-search form {
    margin-top: 10px;
	position: relative;
    width: 230px;
}
.top-nav-search .form-control {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 50px;
    color: #fff;
    height: 40px;
    padding: 10px 50px 10px 15px;
}
.top-nav-search .btn {
    background-color: transparent;
    border-color: transparent;
    color: rgba(255, 255, 255, 0.7);
    min-height: 40px;
    padding: 7px 15px;
    position: absolute;
    right: 0;
    top: 0;
}
.top-nav-search .form-control::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.7);
}
.top-nav-search .form-control::-moz-placeholder {
	color: rgba(255, 255, 255, 0.7);
}
.top-nav-search .form-control:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.7);
}
.top-nav-search .form-control::-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.7);
}
.top-nav-search .form-control::placeholder {
	color: rgba(255, 255, 255, 0.7);
}
.responsive-search {
    display: none;
	color: #333;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
}
.top-nav-search.active form {
    display: block;
    left: 0;
    position: absolute;
}


/*-----------------
	64. Responsive
-----------------------*/

@media only screen and (min-width: 991px) {
	#toggle_btn {
		color: #999;
		float: left;
		font-size: 26px;
		line-height: 60px;
		padding: 0 10px;
	}
	.mini-sidebar .header-left .logo img {
		height: auto;
		max-height: 30px;
		width: auto;
	}
	.mini-sidebar .header .header-left {
		padding: 0 5px;
		width: 60px;
	}
	.mini-sidebar .sidebar {
		width: 60px;
	}
	.mini-sidebar.expand-menu .sidebar {
		width: 230px;
	}
	.mini-sidebar .menu-title {
		visibility: hidden;
		white-space: nowrap;
	}
	.mini-sidebar.expand-menu .menu-title {
		visibility: visible;
	}
	.mini-sidebar .menu-title a {
		visibility: hidden;
	}
	.mini-sidebar.expand-menu .menu-title a {
		visibility: visible;
	}
	.mini-sidebar .sidebar .noti-dot:before {
		display: none;
	}
	.mini-sidebar .sidebar .noti-dot:after {
		display: none;
	}
	.mini-sidebar.expand-menu .sidebar .noti-dot:before {
		display: block;
	}
	.mini-sidebar.expand-menu .sidebar .noti-dot:after {
		display: block;
	}
	.modal-open.mini-sidebar .sidebar {
		z-index: 1001;
	}
	.mini-sidebar .sidebar .sidebar-menu ul > li > a span {
		display: none;
		transition: all 0.2s ease-in-out;
		opacity: 0;
	}
	.mini-sidebar .sidebar .sidebar-menu ul > li > a span.chat-avatar-sm {
		display: inline-block;
		opacity: 1;
	}
	.mini-sidebar .sidebar .sidebar-menu ul > li > a span.status {
		display: inline-block;
		opacity: 1;
	}
	.mini-sidebar.expand-menu .sidebar .sidebar-menu ul > li > a span {
		display: inline;
		opacity: 1;
	}
	.mini-sidebar .sidebar .sidebar-menu > ul > li > a i {
		font-size: 30px;
		width: 30px;
	}
	.mini-sidebar.expand-menu .sidebar .sidebar-menu > ul > li > a i {
		font-size: 24px;
		width: 20px;
	}
	.mini-sidebar .page-wrapper {
		margin-left: 60px;
	}
}
@media only screen and (min-width: 768px) {
	.modal-md {
		width: 600px;
	}
	.nav-tabs.nav-justified.nav-tabs-top {
		border-bottom: 1px solid #ddd;
	}
	.nav-tabs.nav-justified.nav-tabs-top > li > a,
	.nav-tabs.nav-justified.nav-tabs-top > li > a:hover,
	.nav-tabs.nav-justified.nav-tabs-top > li > a:focus {
		border-width: 2px 0 0 0;
	}
	.nav-tabs.nav-tabs-top > li {
		margin-bottom: 0;
	}
	.nav-tabs.nav-tabs-top > li > a,
	.nav-tabs.nav-tabs-top > li > a:hover,
	.nav-tabs.nav-tabs-top > li > a:focus {
		border-width: 2px 0 0 0;
	}
	.nav-tabs.nav-tabs-top > li.open > a,
	.nav-tabs.nav-tabs-top > li > a:hover,
	.nav-tabs.nav-tabs-top > li > a:focus {
		border-top-color: #ddd;
	}
	.nav-tabs.nav-tabs-top > li+li > a {
		margin-left: 1px;
	}
	.nav-tabs.nav-tabs-top > li > a.active,
	.nav-tabs.nav-tabs-top > li > a.active:hover,
	.nav-tabs.nav-tabs-top > li > a.active:focus {
		border-top-color: #00c5fb;
	}
	.nav-tabs.nav-tabs-bottom > li {
		margin-bottom: -1px;
	}
	.nav-tabs.nav-tabs-bottom > li > a.active, 
	.nav-tabs.nav-tabs-bottom > li > a.active:hover, 
	.nav-tabs.nav-tabs-bottom > li > a.active:focus {
		border-bottom-width: 2px;
		border-color: transparent;
		border-bottom-color: #00c5fb;
		background-color: transparent;
		transition: none 0s ease 0s; 
		-moz-transition: none 0s ease 0s; 
		-o-transition: none 0s ease 0s; 
		-ms-transition: none 0s ease 0s; 
		-webkit-transition: none 0s ease 0s;
	}
	.nav-tabs.nav-tabs-solid {
		background-color: #fafafa;
		border: 0;
	}
	.nav-tabs.nav-tabs-solid > li {
		margin-bottom: 0;
	}
	.nav-tabs.nav-tabs-solid > li > a {
		border-color: transparent;
	}
	.nav-tabs.nav-tabs-solid > li > a:hover,
	.nav-tabs.nav-tabs-solid > li > a:focus {
		background-color: #f5f5f5;
	}
	.nav-tabs.nav-tabs-solid > .open:not(.active) > a {
		background-color: #f5f5f5;
		border-color: transparent;
	}
	.nav-tabs-justified.nav-tabs-top {
		border-bottom: 1px solid #ddd;
	}
	.nav-tabs-justified.nav-tabs-top > li > a,
	.nav-tabs-justified.nav-tabs-top > li > a:hover,
	.nav-tabs-justified.nav-tabs-top > li > a:focus {
		border-width: 2px 0 0 0;
	}
}
@media only screen and (max-width: 1199.98px) {
	.page-title-box {
		display: none;
	}
	.file-wrap .file-sidebar {
		left: -331px;
	}
	.file-wrap .file-cont-wrap {
		margin-left: 0;
	}
	.file-wrap.file-sidebar-toggle .file-sidebar {
		left: 0;
	}
	.file-wrap.file-sidebar-toggle .file-cont-wrap {
		margin-left: 0;
	}
	.file-side-close {
		display: inline-block;
	}
}
@media only screen and (max-width: 991.98px) {
	.profile-rightbar {
		display: inline-block !important;
	}
	.profile-info-left {
		border-right: none;
		border-bottom: 2px dashed #ccc;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
	.task-right-sidebar .task-chat-view {
		display: block;
		position: fixed;
		right: 0;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		transition: all 0.4s ease;
		margin-right: 0;
	}
	.task-chat-view {
		display: none;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		transition: all 0.4s ease;
		right: 0;
		transform: translateX(0px);
		z-index: 1041;
		width: 300px;
		position: fixed;
		transition: all 0.4s ease 0s;
		margin-right: -300px;
		display: table-cell;
		top: 0;
		padding-bottom: 60px;
		margin-top: 60px;
	}
	
	
	.header .header-left {
		position: absolute;
		width: 100%;
	}
	.mobile_btn {
		display: block;
	}
	.page-title-box {
		display: none;
	}
	.sidebar {
		margin-left: -225px;
		width: 225px;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		transition: all 0.4s ease;
		z-index: 1041;
	}
	.page-wrapper {
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;
	}
	a.mobile_btn {
		color: #fff;
		font-size: 24px;
		height: 60px;
		left: 0;
		line-height: 60px;
		padding: 0 20px;
		position: absolute;
		top: 0;
		width: 60px;
		z-index: 10;
	}
	#toggle_btn {
		display: none;
	}
	.page-wrapper {
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}
	.responsive-search {
		color: #fff;
		display: inline-block;
	}
	.top-nav-search form {
		display: none;
	}
	.top-nav-search .form-control {
		background-color: #fff;
		border-color: #e3e3e3;
		color: #333;
	}
	.top-nav-search .btn {
		color: #999;
	}
	.top-nav-search .form-control::-webkit-input-placeholder {
		color: #999;
	}
	.top-nav-search .form-control::-moz-placeholder {
		color: #999;
	}
	.top-nav-search .form-control:-ms-input-placeholder {
		color: #999;
	}
	.top-nav-search .form-control::-ms-input-placeholder {
		color: #999;
	}
	.top-nav-search .form-control::placeholder {
		color: #999;
	}
	.header .has-arrow .dropdown-toggle > span:nth-child(2) {
		display: none;
	}
	.header .has-arrow .dropdown-toggle::after {
		display: none;
	}
}
@media only screen and (max-width: 767.98px) {
	.user-menu.nav > li > a {
		padding: 0 10px;
	}
	.top-nav-search form {
		width: 210px;
	}
	.profile-info-left {
		border-right: none;
		border-bottom: 2px dashed #ccc;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
	.navbar-nav .open .dropdown-menu {
		float: left;
		position: absolute;
	}
	.notifications {
		right: -48px;
	}
	.notifications::before,
	.notifications::after {
		right: 60px;
	}
	.header {
		z-index: 1040;
	}
	
	.roles-menu {
		margin-bottom: 20px;
	}
	
	.left-action {
		text-align: center;
		margin-bottom: 15px;
	}
	.right-action {
		text-align: center;
	}
	.top-action-left .float-left {
		float: none !important;
	}
	.top-action-left .btn-group {
		margin-bottom: 15px;
	}
	.top-action-right {
		text-align: center;
	}
	.top-action-right a.btn.btn-white {
		margin-bottom: 15px;
	}

	.nav-tabs.nav-justified {
		border-bottom: 1px solid #ddd;
	}
	.nav-tabs.nav-justified > li > a.active,
	.nav-tabs.nav-justified > li > a.active:hover,
	.nav-tabs.nav-justified > li > a.active:focus {
		border-color: transparent transparent transparent #00c5fb;
		border-left-width: 2px;
	}
	.nav-tabs {
		border-bottom: 0;
		position: relative;
		background-color: #fff;
		padding: 5px 0;
		border: 1px solid #ddd;
		border-radius: 3px;
	}
	.nav-tabs .nav-item {
		margin-bottom: 0;
	}
	.nav-tabs > li > a {
		border-width: 2px;
		border-left-color: transparent;
	}
	.nav-tabs .nav-link {
		border-width: 2px;
	}
	.nav-tabs> li > a:hover,
	.nav-tabs> li > a:focus {
		background-color: #fafafa;
	}
	.nav-tabs .nav-item.show .nav-link,
	.nav-tabs .nav-link.active,
	.nav-tabs> li > a.active,
	.nav-tabs> li > a.active:hover,
	.nav-tabs> li > a.active:focus {
		background-color: #f5f5f5;
		border-color: transparent transparent transparent #00c5fb;
		border-left-width: 2px;
	}
	.nav-tabs > li.open:not(.active) > a,
	.nav-tabs > li.open:not(.active) > a:hover,
	.nav-tabs > li.open:not(.active) > a:focus {
		background-color: #fafafa;
	}
	.nav-tabs.nav-tabs-solid {
		padding: 5px;
	}
	.nav-tabs.nav-tabs-solid.nav-tabs-rounded {
		border-radius: 5px;
	}
	.nav-tabs.nav-tabs-solid > li > a {
		border-left-width: 0!important;
	}
	.nav-tabs-justified {
		border-bottom: 1px solid #ddd;
	}
	.nav-tabs-justified > li > a.active,
	.nav-tabs-justified > li > a.active:hover,
	.nav-tabs-justified > li > a.active:focus {
		border-width: 0 0 0 2px;
		border-left-color: #00c5fb;
	}	
	.product-info {
		margin: 20px 0 30px;
	}
	.profile-bg {
		height: 280px;
	}
	.flag-nav > a > span {
		display: none;
	}
	.equal-height-cards > div > div.card {
		height: unset;
	}
}
@media only screen and (max-width: 575.98px) {
	
	.user-menu {
		display: none;
	}
	.mobile-user-menu {
		display: block;
	}
	.search-box {
		display: none;
	}
	.filter-row {
		margin-bottom: 15px;
	}
	.page-wrapper > .content {
		padding: 15px;
	}
	.profile-view .profile-basic {
		margin-left: 0;
		padding-right: 0;
	}
	.profile-img-wrap {
		position: relative;
		margin: 0 auto;
	}
	.profile-info-left {
		text-align: center;
	}
	.profile-basic {
		margin-left: 0;
		margin-top: 15px;
	}
	.page-title {
		font-size: 18px;
	}
	.fc-toolbar .fc-right {
		display: inline-block;
		float: none;
		margin: 10px auto 0;
		width: 200px;
		clear: both;
	}	

	.account-box {
		width: 100%;
		margin-bottom: 20px;
	}
	
	.custom-menu > li > a {
		margin-left: 10px;
	}
	
	.account-page .main-wrapper {
		flex-direction: column;
	}
	.otp-input {
		font-size: 18px;
		height: 50px;
		margin-right: 10px;
		width: 52px;
	}
	.account-wrapper {
		padding: 15px;
	}
	.leave-right {
		flex: 0 0 auto;
	}
	.pagination-lg .page-link {
		font-size: 1.2rem;
		padding: 0.5rem 0.85rem;
	}

	.submit-section .submit-btn {
		margin: 0 0 10px !important;
	}
	
	.page-header .breadcrumb {
		display: none;
	}
	.add-btn {
		font-size: 14px;
		min-width: inherit;
	}
}

.dataTables_filter input{	
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;	
	border-color: #e3e3e3;
    box-shadow: none;
    font-size: 15px;
	height: 44px;
	
    
}
.bg-inverse-success {
    background-color: rgba(15, 183, 107,0.12) !important;
    color: #26af48 !important;
}
.bg-inverse-danger {
    background-color: rgba(242, 17, 54,0.12) !important;
    color: #e63c3c !important;
}
.bg-inverse-info {
    background-color: #fff3cd !important;
	color: #856404 !important;
}